$colour-primary: #628478;
$colour-secondary: #F3EADA;

$colour-darksecondary: #1A0E0B;
$colour-darkprimary: #122F2B;
$colour-accent: #BC7F51;
$colour-oldsecondary: #C4A998;
$colour-tintsecondary: #EED4BF;
$colour-tintprimary: #A1B5B3;

$breakpoints:(
  tablet: 768px,
  desktop: 992px,
);